<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Thu 28 April</th>
      <th>Fri 29 April</th>
      <th>Thu 12 May</th>
      <th>Fri 13 May</th>
      <th>Thu 26 May</th>
      <th>Fri 27 May</th>
      <th>Thu 16 June</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td class="bold"><%= survey.name %></td>
        <td><%= survey.date1 %></td>
        <td><%= survey.date2 %></td>
        <td><%= survey.date3 %></td>
        <td><%= survey.date4 %></td>
        <td><%= survey.date5 %></td>
        <td><%= survey.date6 %></td>
        <td><%= survey.date7 %></td>
        <td><%= link_to 'Show', survey %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey', new_survey_path, class: "btn btn-primary white" %>
